{% extends "base.html" %}

{% block title %}Mars Quiz - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Hello, {{ current_user.username }}</h1>
	You have not confirmed your account yet
</div>
<div>
	Before you can access this site needs to confirm your account.
	Check your inbox you should have received an email with confirmation link.
	<br/>
	<br/>
	Need another confirmation email? <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
</div>
{% endblock %}