{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
	<h1 class=".col-md-8">{{ quiz.title }}
		{% if form %}
		<span>
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" 
			data-target="#createTaskModal">
				Add Task
			</button>
		</span>
		{% endif %}
	</h1>
</div>
{% if quiz.tasks %}
<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			{% for task in quiz.tasks %}
			<tr>
				<td>{{task.id}}</td>
				<td>
					<a href="">{{ task.text }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
No tasks yet.
{% endif %}

{% if form %}
<!-- modal -->
<div id="createTaskModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Task</h4>
			</div>
			<div class="modal-body">
				{{ wtf.quick_form(form, action=url_for("main.add_task", quiz_id=quiz.id)) }}
			</div>
		</div>
	</div>
</div>
{% endif%}
{% endblock %}